<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>AngularJS</title>
	<link rel="stylesheet" type="text/css" href="">
</head>
<body style="padding: 10px;" ng-app="app">
<div ng-controller="Fctrl">
	<input type="text" name="" ng-model="data.msg">
	<h2>{{data.msg}}</h2>
	
</div>
<div ng-controller="Sctrl">
	<input type="text" name="" ng-model="data.msg">
	<h2>{{data.msg}}</h2>
	
</div>
</body>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/myctrl8.js"></script>
</html>